.nav{
	width: 100%;
	background: black;
	overflow: auto;
	position: relative;
	margin-top: 15px;
	margin-left: 10px;
}
ul{
	padding: 0;
	margin: 0 0 0 150px;
	list-style: none;
}
li{
	float: left;
}
nav a{
	width: 100px;
	display: block;
	padding: 20px 15px;
	text-decoration: none;
	font-family: Arial;
	color: 	#000000;
	text-align: center;
}
ul a{
	width: 100px;
	display:inline-block;
	padding: 20px 15px;
	text-decoration: none;
	font-family: Arial;
	color: 	#000000;
	text-align: center;
}
ul li{
	
	text-align: center;
}
div ul{
	padding: 0;
	margin: 0;

}
div ul li{
	background: #2c3e50;
	position: relative;
	list-style: none;
	display: inline-block;

}
div ul li a {
	display: block;
	padding: 0 40px;
	color: white;
	text-decoration: none;
	line-height: 60px;
	font-size: 20px;

}
div ul li a:hover{
	background: #243342;
}
div ul ul{
	position: absolute;
	top: 60px;
	display: none;
}
div ul li:hover > ul{
	display: block;
}
div ul ul li{
	width: 200px;
	float: none;
	display: list-item;
	position: relative;
}
div ul ul ul li{
	position: relative;
	top: -60px;
	left: 150px;
}